.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.footer-logo .ad {
    color: #10C875;
}

.footer-social {
    margin-top: 1rem;
}
